{% extends 'common.html' %}

{% load static %}

{% block body %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/art6.jpg' %}'); height: 100vh; background-size: cover;" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center" style="background: #ffc4c4">
            <h1 class="mb-2 bread">Successful Reservations</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Booked <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
</section>



<div class="container-fluid"style="background: #ffc4c4" >

<table class="table mt-5 mb-5">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Event/Exhibition</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% if data %}
    {% for t in data %}
        <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.name }}</td>
            <td>{{ t.email }}</td>
            <td>{{ t.phone }}</td>
            <td>{{ t.event }}</td>
            <td>
                {% if t.is_approved == True %}
                    <span class="text-success">Approved</span>
                {% elif t.is_approved == False %}
                    <span class="text-danger">Disapproved</span>
                {% else %}
                    <span class="text-warning">In Review</span>
                {% endif %}
            </td>
            <td><a class="btn btn-warning" href="/edit/{{ t.id }}">Edit</a></td>
            <td><a class="btn btn-danger" href="/delete/{{ t.id }}">Delete</a></td>
        </tr>
    {% endfor %}
{% else %}
    <tr><td colspan="8" class="text-center">No bookings found</td></tr>
{% endif %}

  </tbody>
</table>

</div>

{% endblock %}